@import "../../../helpers/variables";

.background {
  background: url(../../../assets/destination/background-destination-desktop.jpg)  center center/ cover no-repeat;
  min-height:100vh;
  width: 100vw;
  color:#ffffff;

  .header {
    padding-top: 212px;
    padding-left: 166.5px;
    text-transform: uppercase;
    font-family: $font-middle;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    span {
      font-weight: bold;
      mix-blend-mode: normal;
      opacity: 0.25;
      padding-right: 28px;
    }
  }

  .container{
    display: flex;
    padding-bottom: 20px;

    .image{
      width: 46.875%;
      padding-left: 230px;
      img{
        margin-top: 97px;
        width: 445px;
        height:445px;
      }
    
      .fade-enter{
        opacity: 0;   
      }
      .fade-exit{
        opacity: 1;
      }
      .fade-enter-active{
        opacity: 1; 
      }
      .fade-exit-active{
        opacity: 0;
      }
      .fade-enter-active,
      .fade-exit-active{
        transition: opacity 2500ms;
      }
    }

    .info{
      width: 53.125%;
      margin-top: 64px;
      padding-left: 157px;
      padding-right: 163px;

      .nav{
        width: 285.5px;
        height: 34px;
        display: flex;
        justify-content: space-between;
        li{
          text-transform: uppercase;
          font-family: $font-middle;
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          line-height: 19.2px;
          letter-spacing: 2.7px;
          color: $color-letter-blue;
          border-bottom:3px solid rgba(255, 255, 255, 0);
          transition: border-bottom 0.6s ease-in;
            &:hover{
              border-bottom: 3px solid rgba(255, 255, 255, 0.5);
              cursor: pointer;
                }
        }
        li.active {
          border-bottom: 3px solid #ffffff;
          &:hover {
            border-bottom: 3px solid #ffffff;
          }
        }
      }

      .describtion {
        margin-top: 37px;
        h2{
          text-transform: uppercase;
          font-family: $font-big;
          font-weight: normal;
          font-size: 100px;
          line-height: 115px;
        }
        .text{
          padding-left: 97px;
          padding-top: 50px;
          font-family: $font-small;
          font-weight: normal;
          font-style: normal;
          font-size: 18px;
          line-height: 32px;
          color: $color-letter-blue;
          text-align: justify;
          width: 100%;
          max-width: 444px;
        }
        hr{
          height: 1px;
          color: #383B4B;
          margin-top: 18px;
          opacity: 0.2;
        }
        .parameters_grid{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap:79px;
          h5 {
            margin-top: 28px;
            text-transform: uppercase;
            font-family: $font-middle;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 2.3625px;
            color: $color-letter-blue;
          }
          .parameters{
            text-transform: uppercase;
            font-family: $font-big;
            font-weight: normal;
            font-size: 28px;
            line-height: 32px;
            color: #ffffff;
            margin-top: 12px;
          }
        }
      }
    }
  }
}

//dekstop small
@media only screen and  (max-width: 1300px){
  .background {
    .container{
      .image{
        padding-left: 130px;
      }
      .info{
        padding-left: 107px;
        padding-right: 113px;
  
      }
    }
  }
}

//tablet big
@media only screen and  (max-width: 1024px) {
  .background {
    background: url(../../../assets/destination/background-destination-tablet.jpg) no-repeat center center/ cover;
      
    .header{
      padding-top: 136px;
      padding-left: 38.5px;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 3.375px;
      span{
        padding-right: 19px;
      }
    }
    .container{
      flex-direction: column;
      padding-bottom: 0;
  
      .image{
        width: 100%;
        padding-left: 0;
        display: flex;
        justify-content: center;
        img{
          width: 375px;
          height:375px;
          margin-top:97px;
        }    
      }
  
      .info{
        width: 100%;
        margin-top: 53px;
        padding:0;
  
        .nav{
          margin:0 auto;
        }
  
        .describtion {
          margin-top: 32px;
          h2{
            font-size: 80px;
            line-height: 92px;
            text-align: center;
          }
          .text{
            padding:0;
            margin:8px auto 49px auto;
            text-align: center;
            width: 100%;
            max-width:573px;
            font-size: 16px;
            line-height: 28px;
          }
          hr{
            width: 100%;
        max-width: 573px;
        margin: 0 auto;
          }
          .parameters_grid{
            width: 439px;
            grid-gap: 0;
            margin: 0 auto 62px auto;
            text-align: center;
            .distance{
              width: 216px;
             text-align: center;
             }
             .travel-time{
            
               width: 223px;
               text-align: center;
             }
          }
        }
      }
    }
  }
}

//tablet small
@media only screen and  (max-width: 768px) {
  .background {
    .container{
      .image{
        img{
          width: 300px;
          height:300px;
          margin-top:60px;
        }    
      }
    }
  }
}


 //mobile
 @media only screen and (max-width:481px) {
  .background {
    background: url(../../../assets/destination/background-destination-mobile.jpg) no-repeat center center/ cover;
    .header{
      padding-top: 88px;
      padding-left: 0px;
      text-align: center;
      font-size: 16px;
      line-height: 19.2px;
      letter-spacing: 2.7px;
      span{
        padding-right: 18px;
      }
    }

    .container{   
      .image{
        img{
          width: 170px;
          height:170px;
          margin-top:16px;
        }    
      }
  
      .info{
        margin-top: 42px;
        .nav{
          width: 237.5px;
          height: 28px;
          li{
            font-size: 14px;
            line-height: 16.8px;
            letter-spacing: 2.36px;
          }
        }
  
        .describtion {       
          margin-top: 20px;
          h2{
            font-size: 56px;
            line-height: 64px;
          }
          .text{ 
            margin:1px auto 32px auto;          
            max-width:327px;
            font-size: 15px;
            line-height: 25px;
          }
          hr{       
        max-width: 327px;  
          }

          .parameters_grid{
            grid-template-columns: 1fr;
            grid-gap: 32px;
            width:100%;
            max-width:327px;
            margin-bottom: 58px;
            margin-top:32px;
            h5{
              margin-top:0;
            }
            .distance{
              margin:0 auto;
            }
            .travel_time{
              margin:0 auto;
            }
          }
        }
      }
    }
  }
}
